@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Sheared Style */

.btn-primary {
  background-color: rgb(255, 144, 14);
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

.secondary-header {
}
/* 
header style */

.header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 100px; */

  padding-top: 30px;
}
.band-name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.nav-links {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-tittle {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 50px;
}
.banner-description {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  margin-bottom: 30px;
}
.banner-img {
  width: 100%;
}

/* feature box style */
.feature-container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* .feature-img img {
  width: 100%;
} */
.feature-content {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 537px;
  margin-left: 70px;
}
.feature-content-tittle {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}
#quick-list {
  color: #727272;
  font-weight: 500;
}
#features {
  color: rgb(255, 144, 14);
}
.feature-content-description {
  color: rgb(114, 114, 114);
  margin-bottom: 32px;
}

/* features area styles */

.features {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  gap: 100px;
}
.text-features {
}
.text-features-tittle {
  font-size: 2.8rem;
  font-weight: 700;
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 20px;
}
.text-features-description {
  color: rgb(114, 114, 114);
}

.feature-card {
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.card-tittle {
  color: rgb(19, 19, 19);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.img-features img {
  width: 100%;
}
.btn-exp {
  padding: 45px 42px;
  background-color: rgb(255, 144, 14);
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: -100px;
  margin-left: -100px;
}
#years {
  font-size: 4rem;
  font-weight: 700;
}
#exp {
  font-size: 1.6rem;
  font-weight: 500;
}

/* fact container style */
.fact-container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.fact-tittle {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.fact-description {
  color: rgb(114, 114, 114);
}
.fact-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
  margin-top: 100px;
}

.fact-box {
  border: 1px solid rgb(255, 144, 14);
  width: 240px;
  height: 240px;
  padding: 45px 35px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number {
  color: rgb(66, 66, 66);
  font-size: 3.3rem;
}
.fact-text {
  color: rgb(114, 114, 114);
  font-size: 1.25rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .feature-container {
    flex-direction: column;
  }
  .feature-img {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .feature-content {
    margin-top: 40px;
    margin-left: 20px;
  }
  .features {
    flex-direction: column;
  }
  .btn-exp {
    margin-top: 20px;
    margin-left: 20px;
  }
  .fact-container {
    text-align: center;
  }
  .fact-items {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
