@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Sheared Style */

.btn-primary {
  background-color: rgb(255, 144, 14);
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}

.secondary-header {
}
/* 
header style */

.header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 100px; */

  padding-top: 30px;
}
.band-name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.nav-links {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-tittle {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 50px;
}
.banner-description {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  margin-bottom: 30px;
}
.banner-img {
  width: 100%;
}

/* feature box style */
.feature-container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* .feature-img img {
  width: 100%;
} */
.feature-content {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 537px;
  margin-left: 70px;
}
.feature-content-tittle {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}
#quick-list {
  color: #727272;
  font-weight: 500;
}
#features {
  color: rgb(255, 144, 14);
}
.feature-content-description {
  color: rgb(114, 114, 114);
  margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .feature-container {
    flex-direction: column;
  }
  .feature-img {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .feature-content {
    margin-top: 40px;
    margin-left: 20px;
  }
}
